name: CI

on: [push]
  jobs:
    build-test:
      runs-on: ubuntu-24.04
      steps:

          - name: Checkout
            uses: actions/checkout@v4

          - name: Cypress Tests
            uses: cypress-io/github-action@v6
            with:
              component: true
            uses: actions/upload-artifact@v4
            if: always()
            with:
              name: Cypress Results
              path: |
                cypress/screenshots
                cypress/videos
                cypress/results
              if-no-files-found: ignore

